<nav class="nav">
    <a href="./login">
        <button style="margin-top: 5vh;">
            <img src="./assets/nav/home button.png" alt="Home">
        </button>
    </a>
    <a href="./storage">
        <button>
            <img src="./assets/nav/opslag button.png" alt="Opslag">
        </button>
    </a>
    <a href="./home">
        <button>
            <img src="./assets/nav/recept button.png" alt="Recipes">
        </button>
    </a>
    <a href="./menu">
        <button>
            <img src="./assets/nav/Group 15.png" alt="menu">
        </button>
    </a>
    <a href="./floor">
        <button>
            <img src="./assets/icon/table icoon.png" alt="Make Floor">
        </button>
    </a>
</nav>