    <nav class="nav">
        <button style="margin-top: 5vh;" onclick="window.location.href='login.html?u=back'">
            <img src="./assets/nav/home button.png" alt="Home">
        </button>
        <button onclick="window.location.href='opslag.html'">
            <img src="./assets/nav/opslag button.png" alt="Opslag">
        </button>
        <button onclick="window.location.href='recipes.html'">
            <img src="./assets/nav/recept button.png" alt="Recipes">
        </button>
        <button onclick="window.location.href='frontOfHouse.html'">
            <img src="./assets/nav/Group 15.png" alt="Front of House">
        </button>
        <button onclick="window.location.href='makefloor.html'">
            <img src="./assets/icon/table icoon.png" alt="Make Floor">
        </button>
    </nav>