<%- include('./partials/head') %>
<body class="login">
    <form action="/login/auth?id=<%= id %>" method="post">
    <h1>StarTprep</h1>
    <div>
      <label for="code">Authentication Code</label><br>
      <input type="text" class="form-control" id="auth_code" placeholder="Authentication Code" name="code" required>
    </div>
    <br>
    <% if (e != "") { %>
    <div class="alert alert-danger" role="alert">
      <%= e %>
    </div>
    <% } %>
    <button type="submit" class="">Authenticate</button>
  </form>
</body>
<%- include('./partials/footer') %>
