<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
  <main>
    <div class="flex p1 space-between">
      <h1 class="navp">Ontwerper</h1>
      <a href="/floor/make" class="btn">maak een tafel</a>
    </div>
    <div class="grid-container">
    <% for( let item of floordata ) { %>
      <%- include('./partials/floorelement', {follownumber : item.follownummer, amount : item.amount}) %>
    <% } %>
    </div>

  </main>
  </body>
  <%- include('./partials/footer') %>