<%- include('./partials/head') %>
  <script type="module" src="scripts/foh.js" defer></script>

  <body class="foh">
    <!-- NAV moet hier nog komen -->
      <main>
        <form>
          <select name="sortOptions" id="">
            <option value="default">default</option>
            <option value="DESC" id="sortFloorDESC">DESC</option>
            <option value="ASC" id="sortFloorASC">ASC</option>
          </select>
        </form>
        <section id="floor">
          <article class="grid-item">Tafel 1</article>
          <article class="grid-item">Tafel 2</article>
          <article class="grid-item">Tafel 3</article>
          <article class="grid-item">Tafel 4</article>
          <article class="grid-item">Tafel 5</article>
        </section>
        
        <aside class="buttons">
          <a href="./menu"><button id="menuButton">Go to Menu</button></a>
          <button class="sectionSelector" id="sortFloorInside">Inside</button>
          <button class="sectionSelector" id="sortFloorOutside">Outside</button>
        </aside>
      </main>
  </body>

  <%- include('./partials/footer') %>