<%- include('./partials/head') %>
<script type="module" src="scripts/home.js" defer></script>

<body class="home">
    <%- include('./partials/nav') %>

    <main>
        <img class="logo" src="assets/logos/fulllogo.jpg" alt="logo">
        <lists>
            <ul class="warnings">
                <li class="Placeholder">Er zijn geen waarschuwingen</li>
            </ul>
            <ul class="notes">
                <li class="Placeholder">Er zijn geen notities</li>
            </ul>
        </lists>
    </main>
</body>
<%- include('./partials/footer') %>
