<%- include('./partials/head') %>

  <body class="startScreen">
    <nav>
      <figure>
        <img src="./assets/logos/fulllogo.jpg" alt="" width="100px" />
      </figure>
      <a href="./login.html"><button class="login">Login</button></a>
      <a href="./regrister.html"><button class="register">Register</button></a>
      <a href="https://google.com"><button class="exit">Exit</button></a>
    </nav>
    <main>
      <section class="lesserPrograms">
        <button>
          <img src="./assets/start-screen/fifaPicture.webp" alt="Fifa" width="200px" /></button><button>
          <img src="./assets/start-screen/Fortnite.webp" alt="Fortnite" width="200px" /></button><button>
          <img src="./assets/start-screen/lego-masters.webp" alt="LegoMasters" width="200px" /></button><button>
          <img src="./assets/start-screen/lord-of-the-rings.webp" alt="Lord of the Rings" width="200px" />
        </button>
        <button>
          <img src="./assets/start-screen/magic-the-gathering.webp" alt="Magic the gathering"
            width="200px" /></button><button>
          <img src="./assets/start-screen/Pokemon.webp" alt="Pokemon" width="200px" />
        </button>
      </section>
      <section class="bestProgram">
        <button class="bestButton">
          <a href="./login.html">
            <img src="./assets/logos/fulllogo.jpg" alt="StarTprep" /></a>
        </button>
      </section>
  </body>

  <%- include('./partials/footer') %>