<%- include('./partials/head') %>
<script src="scripts/login.js" defer></script>
<body class="login">
    <form action="/login" method="post">
    <h1>Login</h1>
    <div>
      <label for="User_Name_Log_In">User name</label>
      <input type="text" class="form-control" id="User_Name_Log_In" placeholder="User name" name="username" required>
    </div>
    <div>
      <label for="User_Password_Log_In">password</label>
      <input type="password" class="form-control" id="User_Password_Log_In" placeholder="Password" name="password" required>
    </div>
    <% if (e != "") { %>
    <div class="alert alert-danger" role="alert">
      <%= e %>
    </div>
    <% } %>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</body>
<%- include('./partials/footer') %>
