<%- include('./partials/head') %>
  <script type="module" src="scripts/menu.js"></script>

  <body class="menu">
  

      <!-- Stool Container -->
      <div class="stoolContainer">
        <h2 id="tableNRContainer">Tafel</h2>
        <h2>Stoel</h2>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <section id="stoolContainer"></section>
        <button id="addStool">Stoel Toevoegen</button>
      </div>

      <!-- Menu Navigation -->
      <div class="menuNav">
        <h2>MenuMap</h2>
        <nav id="menuNav"></nav>
      </div>

      <!-- Menu Container -->
      <div class="menuContainer">
        <h2>Menu</h2>
        <section id="menuContainer"></section>
      </div>

      <!-- Ticket Container -->
      <div class="ticketWrapper">
        <button id="displayTicket">Display Ticket</button>
        <section id="ticketContainer" class="ticketContainer">
          <div id="tableOverview"></div>
          <div id="priceCalculator"></div>
          <div>
            <button id="downloadJson">Download JSON</button>
            <button>Checkout</button>
            <button class="Price">0.00</button>
            <!-- ^^ ik weet dat dit raar is, maar fix het gewoon dat die niet lijkt op een knopje ofzo, ik kon het anders niet fixen. -->
          </div>
        </section>
      </div>

      <!-- Modification Menu -->
      <div class="modMenuItemWrapper" id="modMenu" style="display: none">
        <h3 id="modItemTitle"></h3>
        <div class="centralWrapper">
          <section>
            <h2>Notes</h2>
            <textarea name="" id="modMenuNotes" placeholder="Notes"></textarea>
          </section>
          <section>
            <h2>Supplementen</h2>
            <form name="" id="modMenuSupplement"></form>
          </section>
        </div>
        <div class="bottomNav">
          <button class="cancelBtn" id="cancelModifications">Cancel</button>
          <button class="allergenBtn" id="modItemAllergenBtn">Allergens</button>
          <button class="doneBtn" id="saveModifications">Save</button>
        </div>
      </div>
  </body>

  <%- include('./partials/footer') %>