<%- include('./partials/head') %>
<script type="module" src="scripts/order.js" defer></script>

<body class="order" >
    <div class="input">

    </div>
    <div class="gerechten">
        
    </div>
</body>
<%- include('./partials/footer') %>
