<%- include('./partials/head') %>
  <body class="register">
    <script src="scripts/register.js" defer></script>
    <article>
    <p>naam input</p>
    <input type="text" name="" id="Nameinput" />
    <p>role input</p>
    <input type="text" name="" id="roleinput" />
    <p>wachtwoord:</p>
    <input type="password" name="" id="passwordinput" />
    <div class="notifpass"></div>
    <p>verifier het wachtwoord</p>
    <input type="password" name="" id="passwordinputsecond" />
    <button onclick="Create_Users()" id="create_user">Account aanmaken</button></article>
  </body>
<%- include('./partials/footer') %>
