<%- include('./partials/head') %>
<script type="module" src="scripts/storage.js" defer></script>

  <body class="storage">
    <!-- NAV -->

    <main>
      <section>
        <input type="text" name="Search" class="Search" placeholder="Zoek...">
        <filter class="dropdown">
          <button onclick="ShowFilter()" class="dropbtn">Filter</button>
          <ul class="dropdown-content">
            <button>Naam</button>
            <button>Houdbaarheidsdatum</button>
            <button>Voorraad</button>
          </ul>
        </filter>
      </section>
      <ul class="Ingrediënten">
        <button onclick="ShowInfo()">
          <img src="assets/opslag/placeholder.png" alt="">
        </button>
        <button onclick="ShowInfo()">
          <img src="assets/opslag/placeholder.png" alt="">
          <button class="Verlopen"></button>
        </button>
        <button onclick="Add()" class="AddButton">
          <img src="assets/add button.png" alt="">
        </button>
      </ul>
      <a href="scanner.html"><button class="btn btn-primary">Product toevoegen</button></a>
    </main>
    <side class="Info">
      <p>Naam: </p>
      <p>Recepten: </p>
      <p>Afval: </p>
      <p>
        Hoeveelheid:
        <button><img src="assets/opslag/minus.png" alt=""></button>
        <button><img src="assets/opslag/plus.png" alt=""></button>
      </p>
      <p>Verval datum: </p>
    </side>
    <script src="scripts/opslag.js"></script>
  </body>
  <%- include('./partials/footer') %>