<%- include('./partials/head') %>
  <script type="module" src="scripts/storage.js" defer></script>

  <body>
    <%- include('./partials/nav') %>
      <main>
        <section class="topbar">
          <section class="search-bar">
            <input type="text" name="Search" class="search" placeholder="Zoek...">
            <filter class="dropdown">
              <button onclick="ShowFilter()" class="nav-btn">Filter</button>
              <ul class="dropdown-content">
                <button>Naam</button>
                <button>Houdbaarheidsdatum</button>
                <button>Voorraad</button>
              </ul>
            </filter>
          </section>
          <a href="#"><button class="nav-btn" >Scanner</button></a>
          <button class="addButtonTop" class="nav-btn">+</button>
        </section>
        <section class="grid-container" id="gridContainer">
        </section>
      </main>
      <side class="info">
        <p>Naam: </p>
        <p>Recepten: </p>
        <p>Afval: </p>
        <p>
          Hoeveelheid:
          <button class="minusBtn">-</button>
          <button class="plusBtn">+</button>
        </p>
        <p>Verval datum: </p>
      </side>
      <script src="scripts/opslag.js"></script>
  </body>
  <%- include('./partials/footer') %>