<%- include('./partials/head') %>
<script type="module" src="scripts/storage.js" defer></script>

  <body class="storage">
    <!-- NAV -->

    <main>
      <section class="topbar">
        <input type="text" name="Search" class="search" placeholder="Zoek...">
        <filter class="dropdown">
          <button onclick="ShowFilter()" class="dropbtn">Filter</button>
          <ul class="dropdown-content">
            <button>Naam</button>
            <button>Houdbaarheidsdatum</button>
            <button>Voorraad</button>
          </ul>
        </filter>
        <a href="scanner.html"><button class="addIngredientBtn">Product toevoegen</button></a>
        <button class="addButtonTop">+</button>
      </section>

      <section class="ingrediënten">
        <section class="grid-container" id="gridContainer">
          <article class="grid-item">Ingrediënt1</article>
          <article class="grid-item">Ingrediënt2</article>
          <article class="grid-item">Ingrediënt3</article>
          <article class="grid-item">Ingrediënt4</article>
          <article class="grid-item">Ingrediënt5</article>
          <article class="grid-item">Ingrediënt6</article>
        </section>
      </section>

      
    </main>
    <side class="info">
      <p>Naam: </p>
      <p>Recepten: </p>
      <p>Afval: </p>
      <p>
        Hoeveelheid:
        <button class="minusBtn">-</button>
        <button class="plusBtn">+</button>
      </p>
      <p>Verval datum: </p>
    </side>
    <script src="scripts/opslag.js"></script>
  </body>
  <%- include('./partials/footer') %>