body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

}

.floor {}

.foh {}

.home {

  margin-left: 120px;
  /* move main content right */
  padding: 20px;

  main {
    width: 100%;
  }
}

.logo {
  background-image: url('/assets/logos/fulllogo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  /* adjust to your needs */
  height: 200px;
  /* adjust to your needs */
  margin: 0 auto;
  /* center it horizontally */
}
}


.index {}

.login {}

.menu {}

.order {}

.recipes {}

.register {}

.scanner {}

.storage {}

.nav {

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 120px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: 'Futura', sans-serif;


  a {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #4a5a6a;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: background 0.3s;
  }

  a svg {
    width: 32px;
    height: 32px;
    fill: black;
  }

  a span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Futura', sans-serif;
  }

  a:hover {
    background-color: #f5f5f5;
  }
}