<form id="barcodeForm" class="p2 flex-column space-between fp" style="height: max-content;" onsubmit="handleBarcodeSubmit(event)">
    <div class="flex-column">
        <label for="barcode">Barcode</label>
        <input type="text" name="barcode" id="barcodeInput" required>
    </div>
    <button type="submit" class="btn btn-success mt1">Zoeken</button>
</form>